#tableID.table-list-container
  table.table-list(data-currentpage='1' style='height:268px;')
    thead
      th
        button.sort(type='button' data-sort='status')
          i.bullet
      th
        button.sort(type='button' data-sort='timestamp')
          | Date
          i.caret
      th
        button.sort(type='button' data-sort='jSortNumber')
          | #
          i.caret
      th
        button.sort(type='button' data-sort='jSortName')
          | Description
          i.caret
      th
        button.sort.textright(type='button' data-sort='jSortTotal')
          | Total
          i.caret
    // IMPORTANT, class="list" must be on tbody
    tbody.list
      tr(data-timestamp='1509426000' data-status='3')
        td.minify.hidden-sm-down
          i.bullet-success
        td.minify 10/31/2017
        td.minify.jSortNumber 000001
        td.jSortName Alpha Bravo Charlie
        td.minify.textright.jSortTotal 26.00
      tr(data-timestamp='1509339600' data-status='3')
        td.minify.hidden-sm-down
          i.bullet-success
        td.minify 10/30/2017
        td.minify.jSortNumber 000002
        td.jSortName Bravo Charlie Delta
        td.minify.textright.jSortTotal 550.00
      tr(data-timestamp='1509253200' data-status='3')
        td.minify.hidden-sm-down
          i.bullet-success
        td.minify 10/29/2017
        td.minify.jSortNumber 000003
        td.jSortName Charlie Delto Echo
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1509166800' data-status='3')
        td.minify.hidden-sm-down
          i.bullet-success
        td.minify 10/28/2017
        td.minify.jSortNumber 000004
        td.jSortName Foxtrot
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1509080400' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/27/2017
        td.minify.jSortNumber 000005
        td.jSortName Golf Hotel India
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1508994000' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/26/2017
        td.minify.jSortNumber 000006
        td.jSortName Alpha Bravo Charlie
        td.minify.textright.jSortTotal 26.00
      tr(data-timestamp='1508907600' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/25/2017
        td.minify.jSortNumber 000007
        td.jSortName Bravo Charlie Delta
        td.minify.textright.jSortTotal 550.00
      tr(data-timestamp='1508821200' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/24/2017
        td.minify.jSortNumber 000008
        td.jSortName Charlie Delto Echo
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1508734800' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/23/2017
        td.minify.jSortNumber 000009
        td.jSortName Foxtrot
        td.minify.textright.jSortTotal 1.22
      tr(data-timestamp='1508648400' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/22/2017
        td.minify.jSortNumber 000010
        td.jSortName Golf Hotel India
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1509426000' data-status='2')
        td.minify.hidden-sm-down
          i.bullet
        td.minify 10/21/2017
        td.minify.jSortNumber 000011
        td.jSortName Alpha Bravo Charlie
        td.minify.textright.jSortTotal 26.00
      tr(data-timestamp='1508475600' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/20/2017
        td.minify.jSortNumber 000012
        td.jSortName Bravo Charlie Delta
        td.minify.textright.jSortTotal 550.00
      tr(data-timestamp='1508389200' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/19/2017
        td.minify.jSortNumber 000013
        td.jSortName Charlie Delto Echo
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1508302800' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/18/2017
        td.minify.jSortNumber 000014
        td.jSortName Foxtrot
        td.minify.textright.jSortTotal 1.00
      tr(data-timestamp='1508216400' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/17/2017
        td.minify.jSortNumber 000015
        td.jSortName Golf Hotel India
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1508130000' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/16/2017
        td.minify.jSortNumber 000016
        td.jSortName Alpha Bravo Charlie
        td.minify.textright.jSortTotal 26.00
      tr(data-timestamp='1508043600' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 10/15/2017
        td.minify.jSortNumber 000017
        td.jSortName Bravo Charlie Delta
        td.minify.textright.jSortTotal 550.00
      tr(data-timestamp='1478149200' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 11/03/2016
        td.minify.jSortNumber 000018
        td.jSortName Charlie Delto Echo
        td.minify.textright.jSortTotal 9.00
      tr(data-timestamp='1478062800' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 11/02/2016
        td.minify.jSortNumber 000019
        td.jSortName Foxtrot
        td.minify.textright.jSortTotal 9.05
      tr(data-timestamp='1478062800' data-status='1')
        td.minify.hidden-sm-down
          i.bullet-danger
        td.minify 11/01/2016
        td.minify.jSortNumber 000020
        td.jSortName Golf Hotel India
        td.minify.textright.jSortTotal 9.00
  table.table-footer
    tr
      td.table-pagination
        button.jPaginateBack(type='button')
          i.material-icons.keyboard_arrow_left &#xE314;
        ul.pagination
        button.jPaginateNext(type='button')
          i.material-icons.keyboard_arrow_right &#xE315;
      td
      td.table-search
        input.search(placeholder='Search')
small.text-center
  | See also the  
  a.link(target='_blank' href='https://codepen.io/btn-ninja/pen/PoPBjmW') Vue table
  | .

script.
    /* List.js is required to make this table work. */
  const List = require("list");  
  var options = {
    valueNames: [ { data: ['timestamp'] }, { data: ['status'] }, 'jSortNumber', 'jSortName', 'jSortTotal' ],
    page: 6,
    pagination: {
      innerWindow: 1,
      left: 0,
      right: 0,
      paginationClass: "pagination",
      }
  };

  var tableList = new List('tableID', options);


    $('.jPaginateNext').on('click', function(){
        var list = $('.pagination').find('li');
        $.each(list, function(position, element){
            if($(element).is('.active')){
                $(list[position+1]).trigger('click');
            }
        })
    });


    $('.jPaginateBack').on('click', function(){
        var list = $('.pagination').find('li');
        $.each(list, function(position, element){
            if($(element).is('.active')){
                $(list[position-1]).trigger('click');
            }
        })
    });


