extends layout

block main
  .container
    .row.header
      ul(style='text-align: center;')
        h2.addcontact Set reminders for all:
        form#add-contact-form(action=`/setting/edit` method="post")
          ul
            li.reminderchoice
              input#dayReminder(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayreminder) )
              label(for='dayReminder') 
                span
                | 1 Day reminder
              input#weekReminder(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekreminder))
              label(for='weekReminder') 
                span
                | 7 Day reminder              
              input#monthReminder(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthreminder))
              label(for='monthReminder') 
                span
                | 30 Day reminder
          fieldset.reminderbuttons 
            input.btn.btn-submit(type='submit' value='Submit')
            a.btn.btn-cancel(href='/contacts') Cancel
        