extends layout

block main
  header
    h1(id='output' style='margin-bottom: 0px;')
    span(style='font-size: 40px;') !
  .site-wrap
    p
      | Scroll down for a brief demonstration.
      | After creating an account, add a contact by clicking 'New Contact'.
    img.align-right.slide-in(src='/images/empty-list.png' style='max-width: 70%; height: auto;')
    img.align-left.slide-in(src='/images/add-contact.png' style='max-width: 70%; height: auto;')
    img.align-right.slide-in(src='/images/contact-added.png' style='max-width: 70%; height: auto;')
    p
      | Set a reminder by clicking on the bell.
    img.align-left.slide-in(src='/images/reminder-set.png' style='max-width: 50%; height: auto;')
    p 
      | Send a test reminder by clicking on 'Send Email Reminder'.
    P 
      | An email should arrive shortly.
    img.align-right.slide-in(src='/images/email-sent.png' style='max-width: 50%; height: auto;')
    
    p
      | Set all current contact reminders all at once by clicking on the settings button in the top left corner.
    img.align-left.slide-in(src='/images/reminder-all.png' style='max-width: 50%; height: auto;'  )
    p
      a.button(href='#') Back to top
  script.
    window.onload = function(){
      let today = new Date()
      let currentHour = today.getHours()
      let greeting;

      if (currentHour < 12) {
        greeting = 'Good morning';
      } else if (currentHour < 18) {
        greeting = 'Good afternoon';
      } else {
        greeting = 'Good evening';
      }

      document.getElementById('output').innerHTML = greeting;
    }