extends layout

block main
  header
    h1
      | Welcome
      span !
  .site-wrap
    p
      | Scroll down for brief demonstration.
    p
      | Just create an account by clicking register on top left corner.
    img.align-left.slide-in(src='/images/sign-up.png' style='max-width: 50%; height: auto;')
    p
      | Add a contact by clicking 'New Contact'
    img.align-right.slide-in(src='/images/empty-list.png' style='max-width: 70%; height: auto;')
    img.align-left.slide-in(src='/images/add-contact.png' style='max-width: 70%; height: auto;')
    img.align-right.slide-in(src='/images/contact-added.png' style='max-width: 70%; height: auto;')
    p
      | Set a reminder by clicking on the bell
    img.align-left.slide-in(src='/images/reminder-set.png' style='max-width: 50%; height: auto;')
    p 
      | Send a test reminder by clicking on 'Send Email Reminder'
    P 
      | An email should arrive shortly.
    img.align-right.slide-in(src='/images/email-sent.png' style='max-width: 50%; height: auto;')
    
    p
      | Set all current contact's reminders all at once by clicking on setting on top left corner.
    img.align-left.slide-in(src='/images/reminder-all.png' style='max-width: 50%; height: auto;'  )
    p
      a.button(href='#') Back to top
