extends layout

block main
  header
    h1
      | Welcome
      span !
  .site-wrap
    h2 About Us
    p
      | test
      img.align-left.slide-in(src='https://source.unsplash.com/iYoAPaSPBKI')
    p
      | test
      img.align-right.slide-in(src='https://source.unsplash.com/XLm6-fPwK5Q')
    p