doctype html

html(lang="en-US")

  head
    title Birthday Nudge
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src="/javascripts/application.js")
    
  body
    main
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans')
      nav#main
        ul
          li.logo
            a(href='/' title='Contacts')
              | Nudge
              span .
          if signedIn
            li
              form(method='post' action='/users/signout')
                input(type='hidden' name='name' value='value')
                a(onclick='this.parentNode.submit();' style='cursor: pointer; color:#b12944;') Sign out
            li
              a(href='/setting' title='Setting') Settings
            li 
              a(href='/contacts' title='Contacts') Contact List
          else 
            li
              a.nav-botton(href='/register' title='register') Create Account 
            li
              a(href='/signin' title='signin') Sign in
          li 
            a(href='/' title='Home') Home
    - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message
    block main
    script.
      const nav = document.querySelector('#main');
      const topOfNav = nav.offsetTop;

      function fixNav() {
        if(window.scrollY >= !topOfNav) {
          document.body.style.paddingTop = nav.offsetHeight + 'px';
          document.body.classList.add('fixed-nav');
        } else {
          document.body.style.paddingTop = 0;
          document.body.classList.remove('fixed-nav');
        }
      }

      window.addEventListener('scroll', fixNav);

      function debounce(func, wait = 20, immediate = true) {
        var timeout;

        return function() {
          var context = this, args = arguments;

          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };

          var callNow = immediate && !timeout;
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);

          if (callNow) func.apply(context, args);
        };
      };

      const sliderImages = document.querySelectorAll('.slide-in');

      function checkSlide(e) {
        sliderImages.forEach(sliderImage => {
          const slideInAt = (window.scrollY + window.innerHeight) - sliderImage.height / 2;
          const imageBottom = sliderImage.offsetTop + sliderImage.height;
          const isHalfShown = slideInAt > sliderImage.offsetTop;
          const isNotScrolledPast = window.scrollY < imageBottom;

          if(isHalfShown && isNotScrolledPast) {
            sliderImage.classList.add('active');
          } else {
            sliderImage.classList.remove('active');
          }
        });
      }

      window.addEventListener('scroll', debounce(checkSlide));


