extends layout

block main 
  #form_container
    form#login
      input(type='text' placeholder='Name')
      input(type='password' placeholder='Password')
      input(type='button' value='Sign In')
    form#forgot
      input(type='text' placeholder='Name')
      input(type='email' placeholder='E-mail')
      input(type='button' value='Recover Password')
  #link_container
    a#forgot(href='#')
      | Forgot your 
      strong Password?
      span.icn &#x27A5;
    a#back(href='#')
      | Back to login
      span.icn &#x27A5;

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
  script.
    $(document).on('click','a#forgot',function(e){
      e.preventDefault();
      $('form#forgot').css('bottom','5px');
      $(this).fadeOut('fast',function(){
        $('a#back').fadeIn('fast');
      });
      
    });
    $('div#link_container').on('click','a#back',function(e){
      e.preventDefault();
      $('form#forgot').css('bottom','-195px');
      $(this).fadeOut('fast',function(){
        $('a#forgot').fadeIn('fast');
      });
      
    });