extends layout

block main
  form(action=`/register` method="post")
    .group
      input.v2(type="text" name="username"  value=username required='')
      span.highlight
      span.bar
      label.v2 Username
    .group
      input.v2(type="password" name="password" value=password required='')
      span.highlight
      span.bar
      label.v2 Password
    .group
      input.v2(type="password" name="password2" value=password2 required='')
      span.highlight
      span.bar
      label.v2 Password
    .group
      input.v2(type="email" name="email" value=email required='')
      span.highlight
      span.bar
      label.v2 Email


    fieldset    
      button.button(formaction="/register" formmethod="post" ) Submit
      a.cancelButton(href="/contacts" style="top:16px; left:5px;" ) Cancel

block signIn