extends layout

block main
  .login-card
    h1 Register
    br
    form(action=`/register` method="post")
      input(type="text" name="username"  placeholder='Username' value=username required='')
      input(type="password" name="password" placeholder='Password' value=password required='')
      input(type="password" name="password2" placeholder='Confirm Password' value=password2 required='')
      input(type="email" name="email" placeholder='Email' value=email required='')
      input.login.login-submit(type='submit' name='register' value='Create Account')
      a.button(href=`/signin` style='display:flex; justify-content: space-around;') cancel
