extends layout

block main

  form(action=`/signin` method="post")
    .group
      input.v2(type="text" name="username"  value=username)
      span.highlight
      span.bar
      label.v2(for='username') Username:
    .group
      input.v2(type="password" name="password" value=password)
      span.highlight
      span.bar
      label.v2(for='password') Password:
      

    fieldset.actions
      button.button(type="submit" value="Sign In" style="width:15%") Sign in
      p(style="font-size: 16px; margin: 6px" ) Don't have account? 
        a(href='/register' style="font-size: 16px;  margin: 1px" ) Create Account



