extends layout

block main
  .login-card
    h1 Sign in
    br
    form(action=`/signin` method="post")
      input(type='text' name='username'  placeholder='Username' value=username)
      input(type='password' name='password' placeholder='Password' value=password)
      input.login.login-submit(type='submit' name='login' value='Login')
    .login-help
      | Don't have an account? 
      a(href='/register' style='color: #ff5151;') Register
      a(href='/lost-password') Lost your password?


