extends layout

block main
  .login-card
    h1 Log-in
    br
    form(action=`/signin` method="post")
      input(type='text' name='username'  placeholder='Username' value=username)
      input(type='password' name='password' placeholder='Password' value=password)
      input.login.login-submit(type='submit' name='login' value='Login')
    .login-help
      a(href='/register') Register
      //- |  &bull; 
      //- a(href='#') Forgot Password


