*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  color: #737373;
}

.site-wrap {
  max-width: 850px;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  text-align: justify;
  overflow: hidden;
}

header {
  text-align: center;
  height: 50vh;
  background: #dbe7f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #1a1720;
}

h2 {
  color: #ff5274;
}

nav {
  background: #dbe7f5;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0,0,0,.12),0px 0px 6px 0px rgba(0,0,0,.03);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  font-family: 'Montserrat', sans-serif;
  max-width: 0;
  overflow: hidden;
  transition: all .5s;
  font-weight: 600;
}



.fixed-nav li.logo {
  max-width: 500px;
  font-size: 18px;
}

li.logo a {
  color: #272727;
}

nav a {
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  color: #61646b;
  transition: all 0.2s;
  font-size: 16px;
}

nav a:hover {
  color: #1a1720;
}

span {
  color: #ff5274;
}

img {
  width: 100%; 
  height: auto;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform:translateX(0%) scale(1);
}

a.nav-botton {
  color:#b12944;
}

.table-list-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  position: relative;
  z-index: 0;
}
@media (max-width: 640px) {
  .table-list-container {
    border-width: 1px 0;
  }
}
.table-list {
  min-height: 176px;
}
.table-list th {
  border-bottom: 0.6px solid #d2d2d2;
}
.table-list td {
  white-space: nowrap;
  height: 1.75rem;
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.table-list tr:last-child td {
  height: auto;
}
th button.sort {
  text-align: left;
  padding: 0 10px;
  line-height: 1.75rem;
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #888;
  border-bottom: 1px solid transparent;
}
th button.sort.textcenter, th button.sort.text-center {
  text-align: center;
}
th button.sort.textright, th button.sort.text-right {
  text-align: right;
}
button.sort .bullet {
  margin-top: 13px;
}
.table-list .caret:after {
  content: "";
}
.asc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #808080;
  content: "";
  position: relative;
  top: -3px;
  right: -4px;
  font-size: 0;
}
.desc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #808080;
  content: "";
  position: relative;
  top: -4px;
  right: -4px;
  font-size: 0;
}
button.sort .caret {
  display: none;
}
button.sort.asc .caret {
  display: inline-block;
}
button.sort.desc .caret {
  display: inline-block;
}
.table-footer {
  background-color: #fff;
  margin-top: -1px;
  position: relative;
  z-index: -1;
}
.table-search {
  width: 310px;
  border-left: 1px solid #d2d2d2;
}
.table-search .search {
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
}
/**/
.table-pagination {
  white-space: nowrap;
}
.table-pagination:after {
  display: block;
  content: "";
  clear: both;
}
.jPaginateBack, .jPaginateNext, .table-list-container .pagination {
  float: left;
}
.jPaginateBack, .jPaginateNext {
  line-height: 1.75rem;
  width: 1.75rem;
  text-align: center;
  user-select: none;
}
.jPaginateBack .material-icons, .jPaginateNext .material-icons {
  display: block;
  font-size: 16px;
  line-height: inherit;
}
