
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  background: #333;
  font: normal 14px/1.3 'helvetica neue', helvetica, arial;
  color: #bbb;
  text-shadow: #262729 0 -1px 0;
  -webkit-font-smoothing: antialiased;
}
body.clearfix {
  display: block;
}

#container {
  width: 750px;
  margin: 0 auto 80px;
}
#container a {
  color: #eee;
}
#container a:hover {
  color: #fff;
}

p {
  font-size: 20px;
  margin: 1rem;
  line-height: 1.5;
}
h2 {
  font-size: 18px;
  color: #bbb;
  text-shadow: #262729 0 -1px 0;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

input, select {
  font: normal 12px/1.3 'helvetica neue', helvetica, arial;
  font-size: 20px;
  padding: 2px 10px;
  border-radius: 10px;
  border: solid 1px #555;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}



h2 {
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 10px;
  color: rgb(33, 32, 39);
}

input:focus, select:focus {
  border: none;
  outline: none;
  background-color: #eee;
  border-top: solid 1px #aaa;
  border-right: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  border-left: solid 1px #aaa;
}

.reminderchoice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reminderbuttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
}

.btn {
  color: #ccc;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px #666;
  display: block;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  cursor: hand;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fafafa;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}
th {
  background-color: #0000001a;
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  text-align: left;
  font-weight: bold;
  color: #dddddd;
}
td {
  padding: 10px 10px;
}

h1 {
  font: 100 40px "helvetica neue", helvetica, arial;
  letter-spacing: 1px;
  color: #cecece;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: #262729 0 -1px 0;
}

#contact-list {
  margin-bottom: 60px;
}
#contact-list .thumb {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 20px;
  border: solid 1px #333;
}
#contact-list .list {
  clear: both;
  margin-bottom: 10px;
}
#contact-list .list li {
  padding: 20px;
}
#contact-list li:nth-child(2n+1) {
  background-color: #0000001a;
  border: solid 1px #ffffff1a;
  border-radius: 10px;
}
#contact-list li:nth-child(2n+1) .thumb {
  border: solid 1px #666;
}
#contact-list h4 {
  color: #fafafa;
  font-weight: bold;
  margin-bottom: 6px;
}
#contact-list p {
  font: normal 14px/1.3 'helvetica neue', helvetica, arial;
  color: #aaa;
  text-align: left;
}
#contact-list .sort-by {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}
#contact-list .filter {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}
#contacts input {
  font-size: 13px;
  margin: 0;
  border-radius: 5px;
  width: 200px;
}
#contacts {
  margin-bottom: 100px;
}
#contacts td.name,
#contacts td.age,
#contacts td.city {
  width: 130px;
}
#contacts td.edit,
#contacts td.remove {
  width: 130px;
}
#contacts td.add {
  width: 300px;
}
#contacts input {
  width: 100px;
}
.huge {
  max-height: 500px;
  overflow: scroll;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

.site-wrap {
  max-width: 850px;
  margin: 40px auto;
  background: #333;
  padding: 40px;
  text-align: center;
  overflow: hidden;

}

header {
  text-align: center;
  height: 35vh;
  background: #3f3b3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #ff5274;
}

nav {
  background: #3f3b3b;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  background: #333;
  box-shadow: 0px 6px 9px 0px rgba(0,0,0,.12),0px 0px 6px 0px rgba(0,0,0,.03);
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

nav li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  font-family: 'Montserrat', sans-serif;
  max-width: 0;
  overflow: hidden;
  transition: all .5s;
  font-weight: 600;
  text-align: right
}

.fixed-nav li.logo {
  max-width: 500px;
  font-size: 18px;
  text-align: right
}

li.logo a {
  color: #bbb;
}

nav a {
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  color: #bbb;
  transition: all 0.2s;
  font-size: 16px;
}

nav a:hover {
  color: #aa9090;
}

span {
  color: #ff5274;
}
img {
  width: 100%; 
  height: auto;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform:translateX(0%) scale(1);
}

a.nav-botton {
  color:#b12944;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  line-height: 16px;
}
th {
  text-align: right;
  font-weight: normal;
  font-size: 12px;
}

button {
  background: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  color: inherit;
  border-radius: 0;
  cursor: pointer;
  padding-left: 0px;
}
.number {
  width: 1%;
  white-space: nowrap;
  text-align: right;
  padding-left: 20px !important;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.minify {
  width: 1%;
  white-space: nowrap;
}
.table-icon {
  width: 30px;
  max-width: 30px;
  text-align: center;
}
.table-list {
  height: 280px;
}
.table-list {
  width: 800px;
  margin: 0 auto;
}

.table-list tbody td {
  white-space: nowrap;
  padding: 9px;
  padding-left: 20px;
  vertical-align: top;
  height: 35px;
}

tr:last-child td {
  height: auto;
}
.sort {
  text-align: left;
  padding: 9px;
  border: none;
  background: none;
  display: block;
  width: 100%;
  color: #a0a0a0;
  line-height: 14px;
}

.sort.textcenter {
  text-align: center;
}
.sort.textright {
  text-align: right;
}
.caret {
  line-height: 0;
}
.caret:after {
  content: "";
}

.asc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #808080;
  content: "";
  position: relative;
  top: -3px;
  right: -4px;
  font-size: 0;
}
.desc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #808080;
  content: "";
  position: relative;
  top: -7px;
  right: -4px;
  font-size: 0;
}
.sort .caret {
  display: none;
}
.sort.asc .caret {
  display: inline-block;
}
.sort.desc .caret {
  display: inline-block;
}

.table-footer {
  border-top: 1px solid #d2d2d2;
  padding: 0;
}
.table-filter {
  
}

.table-filter .search {
  padding: 9px;
  width: 300px;
  border: none;
  color: #d2d2d2;
  background: transparent;
  box-shadow: none;
}
.table-pagination {
  display: table;
  border-collapse: collapse;
  width: 156px;
  float: left;
  padding: 6px;
}
.btn-tablepage {
  display: table-cell;
  width: 33px;
  padding: 9px;
}
.pagination {
  display: table-cell;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90px;
}
.pagination li {
  display: inline-table;
}
.page {
  display: block;
  padding: 4px 0;
  width: 22px;
  text-align: center;
  text-decoration: none;
  line-height: 12px;
  font-size: 12px;
  color: #808080;
}
.pagination .disabled {
  display: none;
}
.pagination .active {
  border-color: #aaa;
}
.active .page {
  color: #fff;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #aaa;
  padding: 10px;
}

div, textarea, input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  min-width: 324px;
  margin: 50px auto 0;
  background-color: #333;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  color: white;
}
.row.body {
  padding: .5em 2.5em 1em;
}

.pull-center {
  padding-left: 1em;
  padding-right: 1em;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  border-width: 0 0 0 0;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.fa-bell:before {
  content: "\f0f3";
  padding-right: 10px;
  padding-left: 10px;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #4f6fad;
  padding: 0.74em 1.5em;
  text-decoration: none;
  margin: 1.5em;

}

.btn.btn-submit:hover {
  background-color: #5f7db6;
}

.btn.btn-cancel {
  padding: 0.74em 1.5em;
  text-decoration: none;
  margin: 1.5em;
  background-color: #ad4f4f9b;
}

.btn.btn-cancel:hover {
  background-color: #c06b6b9b;
}

form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: flex;
  justify-content: center;
  width: 100%;
}
form ul li:last-child {
  margin: 0;
}
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
form ul li p.right {
  float: right;
}

form ul li .req {
  color: #ee9cb4;
}
form label, select {
  display: block;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
form .error {
  color: #ee9cb4;
}
form input, select {
  margin: 1 0 0.5em 0;
  border: 1px solid #cccccc;
  padding: 6px 10px;
  color: #555555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #cccccc;
  padding: 6px 10px;
  width: 100%;
  color: #555555;
}

.addcontact {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

.flash {
  text-align: center;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.flash.success {
  color: #3c763d;
}

.flash.info {
  color: #31708f;
}

.flash.warning {
  color: #8a6d3b;
}

.flash.error {
  color: #a94442;
}





.login-card {
  padding: 40px;
  width: 274px;
  margin: 0 auto 10px;
  border-radius: 2px;
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}







input[type="checkbox"] {
  display:none;
}
h2 small { 
  font-weight:normal; 
  color:rgb(32, 28, 28); 
  margin: 0 5%;
  display:block; 
}
input[type="checkbox"] + label {
  color:#f2f2f2;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  color:#f2f2f2;
  font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

